{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>About Algo</h1>
    </div>
    <div class="col-4">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/46/IMG_Academy_Logo.jpg" class="img-thumbnail" />
    </div>
</div>
{{> footer }}